



/* Sticky Navigation:   */

.header {
  /* background-color: #f1f1f1; */
  
  padding: 3px;
  text-align: center;
  background-image: url(../assets/images/layout/22u2.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;  
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}


body{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  /* margin: 0px; */
  overflow-x: hidden;
  /* box-sizing: content-box; */
  background: linear-gradient(120deg, #1b1580, rgba(108, 31, 115, 1), rgb(167, 7, 42));
}

#main{
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
}

.main-container{
  background-image: url("../assets/images/layout/chain-web.svg") ;
  background-repeat: repeat;
  /* box-sizing: content-box; */
}

.content-test{
  color: aliceblue;
  padding: 4%;

}



#loader-pad{
  background-color: rgb(255, 255, 255,0.8);
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
}
a
#loader {
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #444444;
  width: 70px;
  height: 70px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
      transform: rotate(360deg);
  }
}

.center {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}