/*       DESKTOP SCREEN       */
@media only screen and (min-width: 1008px) {
      p {
            font-size: 18px;
      }

      .header {
            /* background-color: #f1f1f1; */
            
            padding: 3px;
            text-align: center;
            background-image: url(../assets/images/layout/22u2.png);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;  
          }
}


/*       TABLET SCREEN       */
@media only screen and (max-width: 1007px) {
      p {
            font-size: 20px;
      }
      .header {
            /* background-color: #f1f1f1; */
            
            padding: 3px;
            text-align: center;
            background-image: url(../assets/images/layout/22u2.png);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;  
          }
}





/*       PHONE SCREEN       */
@media only screen and (max-width: 640px) {
      h1{
            font-size: 30px;
            font-weight: 600 ;
      }
      h2 {
            font-size: 22px;
      }
      p {
            font-size: 16px;
      }
      .header {
            /* background-color: #f1f1f1; */
            
            padding: 3px;
            text-align: center;
            background-image: url(../assets/images/layout/phone-head.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;  
          }
span{
font-size: 16px !important;
}
}
