/*       DESKTOP SCREEN       */
@media only screen and (min-width: 1008px) {
      p {
            font-size: 18px;
      }

      .header {
            background-image: url(../assets/images/layout/22u2.png);
      }
      #roadmap{
            width: 50%;
      }

      #counters-desktop{
            display: block;
      }
      
      #counters-phone{
            display: none;
      }

}


/*       TABLET SCREEN       */
@media only screen and (max-width: 1007px) {
      p {
            font-size: 20px;
      }
      .header {
            background-image: url(../assets/images/layout/22u2.png);
      }


      #counters-desktop{
            display: block;
      }
      
      #counters-phone{
            display: none;
      }
}





/*       PHONE SCREEN       */
@media only screen and (max-width: 640px) {

      h1{
            font-size: 30px;
            font-weight: 600 ;
      }
      h2 {
            font-size: 22px;
      }
      p {
            font-size: 16px;
      }
      .header {
            background-image: url(../assets/images/layout/phone-head.jpg);
      }
      span{
      font-size: 16px !important;
      }

      #counters-desktop{
            display: none;
      }
      
      #counters-phone{
            display: block;
      }
}
