.navbar-balance{
      color: white;  
      margin-right: 5%;
}

.navbar-item{
      margin-right: 5%;
      text-decoration: underline;
      color: white ;  
      

}

body{
      /* background-image: url(../../assets/images/ido/bkgr.jpg); */
      background-size: cover;
      background-repeat: no-repeat;
      color: white ;  

}

.navbar {
      overflow: hidden;
      background: linear-gradient(90deg, rgba(37, 30, 30, 0.8),#ff6b9fb0);
      /* background: linear-gradient(90deg, rgba(137, 19, 77, 0.8),rgb(128, 22, 156,0.8)); */
}

.navbar-title{
      margin-left: 5%;
      font-size: 2vw;
      font-weight: bold;
      color: white ;  
      text-decoration: none;

}

.main-container{
      height: 82vh;
      overflow: auto;
      overflow-x: hidden;
      background-color: rgba(46, 2, 66, 0.315);
}
.head-pad{
      height: 18vh;

}

.s-title-head{
      font-size: 6vw;
      font-family: Impact, fantasy	;
}

.plan-pad{
      padding: 2%;
}

.plan{
      padding: 6%;
      box-sizing: unset;
      border-radius: 2rem;
      border: #ff6b9fb0 2px solid;
}
.plan-logo{
      max-width: 100%;
      max-width: 100%;
      margin: 0;
      position: relative;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
}
.plan-logo-pad{
      width: 100%;
      height: 8vw;

}
.plan-description li{
      margin-left: 5%;
}

.plan-title{
      font-size: 1.7vw;
      font-weight: bold;
      padding-bottom: 1rem;
      border-bottom: 4px solid white;
}

.ido-info{
      font-weight: bold;
      margin-bottom: 1.5rem;

}

.text-description{
      margin-left: 10%;
}
.text-description p{
      font-size: 18px;
}

.copy{
      cursor: pointer;
}

#line{
      margin-bottom: 1.5rem;
      border-bottom: orchid 4px solid;
}
.note{
      margin-right: 10%;
      margin-left: 10%;
      color: rgb(231, 154, 154);
}

.deposit-inp{
      border-radius: 30px;
      border: orchid 2px solid;
}
.deposit-btn{
      border-radius: 30px;
      border: orchid 2px solid;
      color: white;
      background-color: rgb(158, 0, 158);
}

.withdraw-btn{
      border-radius: 30px;
      border: white 2px solid;
      color:  orchid ;
      background-color: white;
}

.disabled
{
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.7;
  background: rgba(204, 204, 204, 0.3);
}

.edit{
      cursor: pointer;
}



/*#region spinner*/




@keyframes ldio-ekqaxektp6t {
      0% { transform: translate(-50%,-50%) rotate(0deg); }
      100% { transform: translate(-50%,-50%) rotate(360deg); }
    }
    .ldio-ekqaxektp6t div {
      position: absolute;
      width: 56px;
      height: 56px;
      border: 16px solid #ffffff;
      border-top-color: transparent;
      border-radius: 50%;
    }
    .ldio-ekqaxektp6t div {
      animation: ldio-ekqaxektp6t 1s linear infinite;
      top: 50px;
      left: 50px
    }
    .loadingio-spinner-rolling-eu9l4inypyk {
      width: 24px;
      height: 24px;
      display: inline-block;
      overflow: hidden;
      background: rgba(255, 255, 255, 0);
    }
    .ldio-ekqaxektp6t {
      width: 100%;
      height: 100%;
      position: relative;
      transform: translateZ(0) scale(0.24);
      backface-visibility: hidden;
      transform-origin: 0 0; /* see note above */
    }
    .ldio-ekqaxektp6t div { box-sizing: content-box; }
    
    

/*#endregion*/
